@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main{
  width: 90%;
  font-family: 'Poppins', sans-serif;
  margin-left: auto;
  margin-right: auto;

}

.header{
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-bottom-style: solid;
}
.buttons button{
  margin-left: 1rem;
  font-size: 1.5rem;
  padding: 5px;

  background-color: white;
}

.buttons button:hover{
  background-color: #5996f7;
  cursor: pointer;
}

 .products {
display:flex;
flex-wrap: wrap;
}
.products div {
  width: 30%;
  border-style: solid;
  margin: 1rem;

}


.products input{
 margin-right: 1rem;
}
.products p{
  text-align: center;
}

/* product add*/
#product_form{

  font-size: 1.35rem;
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
#product_form label{
  text-align: left;
  margin-bottom: 0.45rem;
}

#product_form input{
margin-left: 3rem;

}
#product_form select{
  margin-left: 3rem;
    font-size: 1.15rem;
}
#error{
  text-align: center;
}


.bottom{
margin-top: 5rem;
    border-top-style: solid;
    text-align: center;
}
